#minefield .grid {
    flex: 1; 
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: darkslategray;
    width: 50vmin;
    height: 50vmin;
    margin: auto;
}

#minefield .grid .cell {
    position: relative;
    text-align: center;
    color: darkslategrey;
}

.safe {
    border: 2px solid;
    border-color: #ffffff;
    box-sizing: border-box;
}

.safe.reveal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: deepskyblue !important;
    color: darkslategrey;
}
  
.bomb {
    border: 2px solid;
    border-color: #ffffff;
    box-sizing: border-box;
}

.bomb.reveal {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(90%);
    background-color: #9c998d !important;
}